

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */

.flip-container:active .flipper,.flip-container.hover .flipper, {
//	.flip-container:active .flipper{
	// transform: rotateX(20deg);	
		transform: rotateY(180deg);	
	}

.flip-container, .front, .back {
	width: 100%;
	height: auto;
 padding: 38px;
 }

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
  border-radius: 25px;
	-webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
 
  background-color: #19489E;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
 text-align: center;
}

/* back, initially hidden pane */
.back {
	z-index: 1;
	transform: rotateY(180deg);
  text-align: center;
}
